@primaryColor:#f67a18;
@warningColor:#ff4949;
@blueColor:#20a0ff;
@greenColor:#13ce66;
@whiteColor:white;
@blackColor:#333333;
@grayColor:#99a9bf;
.JM-loading{color: @primaryColor;text-align: center;font-size: 18px;}